.App {
  text-align: center;
}

.navbar {
  background-color: black;
  height: 60px;
  color: white;
}

.App-intro {
  font-size: large;
}

.inline {
  display: inline;
}

.brand {
  margin-top: 30px;
  font-size: 20px;
}


/* Navbar Links */
.nav-list {
  position: absolute;
}

.nav-list li:hover {
  text-shadow: 0 0 10px white;
}

.nav-list li {
  transition: .5s;
  font-size: 25px;
}

.col-md-8 {
  /*border: 1px solid red;*/
  margin-left: 10px;
}
.col-md-2 {
  /*border: 1px solid blue;*/
}

.cell {
  background-color: #BFABCB;
  float: left;
  width: 30%;
  height: 30%;
  border: 2px solid darkslategrey;
  margin: 5px;
  border-radius: 5px;
}

.board {
  margin-right: auto;
  width: 500px;

  /*border: 2px solid darkslategrey;*/
  height: 500px;
  /*background: pink;*/
  float: none;
  margin-left: auto;
  margin-bottom: 150px;
}
